* {
  font-family: 'Courier New', Courier, monospace
}

h1 {
  font-size: 3.5rem;
}

div, input {
  font-size: 2rem;
}

body {
  background-color: hsl(261, 88%, 15%);
  color: hsl(261, 88%, 90%);
  text-align: center;
}

hr {
  margin: 2rem;
}

.strength-meter {
  position: relative;
  height: 5rem;
  width: 70%;
  border: 3px solid hsl(261, 88%, 57%);
  border-radius: 5rem;
  margin: 0 auto;
  overflow: hidden;
}

.strength-meter::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: hsl(261, 88%, 67%);
  transition: width 200ms;
}

.password-input {
  margin-top: 2rem;
  width: 50%;
  max-width: 500px;
  padding: .25rem .75rem;
  background-color: hsl(261, 88%, 25%);
  color: white;
  border: 1px solid hsl(261, 88%, 57%);
  outline: none;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
}

.password-input:focus {
  border-color: hsl(261, 88%, 70%);
}

.reasons > * {
  margin-top: 2rem;
  color: hsl(261, 88%, 80%);
  font-size: 1.5rem;
}

.generate-password-button {
  margin: 2rem;
  width: 60%;
  min-width: 300px;
  max-width: 800px;
  font-size: 2rem;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.password-rules-container > * :not(p) {
  font-size: 1rem;
}

p {
  margin: 1rem;
  font-size: 1.5rem;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.checkbox-container {
  margin: 5px;
}

.checkbox {
  border: none;
}

.number-selector {
  border: none;
  background-color: transparent;
  color: hsl(261, 88%, 70%);
  font-weight: bold;
}

.reset-to-defaults-button {
  margin: 1rem;
  padding: 1rem;
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  font-size: 1rem;
  background-color: firebrick;
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
}

.generated-password-label {
  color: chartreuse;
  font-size: 1.5rem;
  font-weight: bold;
  word-wrap: break-word;
}

.copy-message-label {
  color: hsl(261, 88%, 80%);
  animation: blinker 2s linear infinite;
  font-size: 1rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
